@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* reset*/
body,p,a,ul,li {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}